{{#if updateComment}}
  <h1>Update Comment</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="updateUsername">Username</label>
        {{input value=comment.username id="updateUsername" placeholder= comment.username}}
      </div>
      <div class="form-group">
        <label for="updateBody">Comment</label>
        {{input value=comment.body id="updateBody" placeholder= comment.body}}
      </div>
      <button {{action 'saveUpdatedComment1' comment}}>Save Comment</button>
    </form>
    <button {{action 'deleteComment' comment}}>Delete this comment</button>
  </div>
  {{else}}
  <button {{action 'updateCommentShow'}}>Update Comment</button>
  {{/if}}
